Source: libdsc-perl
Section: perl
Priority: optional
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libcgi-untaint-perl,
 libfile-nfslock-perl, libhash-merge-perl, libmath-calc-units-perl,
 libtext-template-perl, libxml-simple-perl, libswitch-perl, libnet-dns-perl,
 libip-country-perl, libcgi-pm-perl, liburi-perl
Standards-Version: 3.9.4
Homepage: https://www.dns-oarc.net/oarc/data/dsc
Vcs-Git: https://github.com/DNS-OARC/p5-DSC.git
Vcs-Browser: https://github.com/DNS-OARC/p5-DSC

Package: libdsc-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libcgi-untaint-perl,
 libfile-nfslock-perl, libhash-merge-perl,
 libmath-calc-units-perl, libtext-template-perl, libxml-simple-perl,
 libswitch-perl, libnet-dns-perl, libip-country-perl, libcgi-pm-perl,
 liburi-perl
Description: DNS Statistics Presenter Perl Library
 DNS Statistics Presenter (DSP) is a tool used for exploring statistics from
 busy DNS servers collected by DNS Statistics Collector (DSC).  This is the
 Perl library that is used to extract and graph DSC data.
